.designs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;

  &__card {
    margin-top: 2rem;
    padding: 1rem;
    // background-color: #fafafa;
    width: 90vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image {
      margin-top: 1rem;
      width: 80vw;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      margin-bottom: 2rem;

      &:hover {
        transform: scale(1.01);
        cursor: pointer;
      }
    }
    h2 {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 900;
    }

    p {
      margin-top: 1rem;
      font-size: 1rem;
    }

    &__dribbble-link {
      font-size: 0.8rem;
      border: 1px solid #d6d6d6;
      padding: 0.5rem;
      margin-top: 1rem;
      text-decoration: none;
      color: #d6d6d6;
      border-radius: 5px;

      &:hover {
        background-color: #d6d6d6;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .designs-container {
    &__card {
      &__image {
        max-width: 70vw;
      }

      h2 {
        margin-top: 1rem;
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
      &__dribbble-link {
        font-size: 1.2rem;
        border: 1px solid #d6d6d6;

        padding: 1rem;
        margin-top: 2rem;
        text-decoration: none;
        color: #d6d6d6;
        border-radius: 5px;
      }

      &__dribbble-link:hover {
        background-color: #d6d6d6;
        color: #333;
      }
    }
  }
}
