.designs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.designs-container__card {
  margin-top: 2rem;
  padding: 1rem;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.designs-container__card__image {
  margin-top: 1rem;
  width: 80vw;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2rem;
}

.designs-container__card__image:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}

.designs-container__card h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.designs-container__card p {
  margin-top: 1rem;
  font-size: 1rem;
}

.designs-container__card__dribbble-link {
  font-size: 0.8rem;
  border: 1px solid #d6d6d6;
  padding: 0.5rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #d6d6d6;
  border-radius: 5px;
}

.designs-container__card__dribbble-link:hover {
  background-color: #d6d6d6;
}

@media screen and (min-width: 600px) {
  .designs-container__card__image {
    max-width: 70vw;
  }
  .designs-container__card h2 {
    margin-top: 1rem;
    font-size: 3rem;
  }
  .designs-container__card p {
    font-size: 1.5rem;
  }
  .designs-container__card__dribbble-link {
    font-size: 1.2rem;
    border: 1px solid #d6d6d6;
    padding: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    color: #d6d6d6;
    border-radius: 5px;
  }
  .designs-container__card__dribbble-link:hover {
    background-color: #d6d6d6;
    color: #333;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (min-width: 600px) {
  html .central-container {
    font-size: 2.5rem;
  }
  html .central-container .line1 {
    margin-top: 8rem;
  }
  html .central-container .line3 {
    margin-top: 4rem;
  }
  html .central-container__skills > ul > li {
    margin-top: 0.5rem;
    font-size: 2rem;
  }
  html .central-container__projects {
    font-size: 1.5rem;
  }
  html .central-container__projects__project__name {
    font-size: 1.7rem;
    color: #dcdcdd;
  }
  html .central-container__projects__project__link {
    margin-left: 4rem;
  }
  html .central-container__links {
    font-size: 1.5rem;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  color: #dcdcdd;
}

.container {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#4c5c68), to(#46494c));
  background-image: linear-gradient(to bottom right, #4c5c68, #46494c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 600px) {
  .container .container {
    margin-top: 5rem;
  }
}

main {
  min-height: 100vh;
}

.central-container {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  font-size: 1.5rem;
  padding: 3rem;
}

.central-container h1 {
  font-weight: 100;
  letter-spacing: 2px;
}

.central-container h2 {
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 0.3rem;
}

.central-container__line {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #dcdcdd;
  margin: 1rem 0;
}

.central-container .line1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.central-container .line2 {
  margin-top: 1rem;
}

.central-container .line3 {
  margin-top: 2rem;
}

.central-container__skills {
  font-size: 1rem;
  width: 100%;
  height: 3.5rem;
  text-align: left;
  font-weight: 900;
}

.central-container__skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 3.5rem;
}

.central-container__skills ul li {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-bottom: 0.1rem;
  font-weight: 900;
  font-size: 1.1rem;
}

.central-container__projects {
  font-size: 1.2rem;
  font-weight: 100;
}

.central-container__projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.central-container__projects__project {
  margin-top: 2rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  line-height: 1.5;
}

.central-container__projects__project__name {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.central-container__projects__project p {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-right: 2rem;
}

.central-container__projects__project__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.central-container__projects__project__link {
  text-decoration: none;
  color: #c5c3c6;
  margin-right: 1rem;
}

.central-container__projects__project__link:hover {
  color: #dcdcdd;
}

.central-container__links {
  margin-top: 3rem;
  font-size: 1.2rem;
  color: #4c5c68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.central-container__links__link {
  text-decoration: none;
  color: #c5c3c6;
}

.central-container__links__link:hover {
  color: #dcdcdd;
}

.page-links__list {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.page-links__list > li:not(:last-child) {
  margin-right: 4rem;
}

.page-links__list > li > a {
  color: #dcdcdd;
  text-decoration: none;
}

.page-links__list > li > a:hover {
  color: #fafafa;
}
/*# sourceMappingURL=main.css.map */